{% extends "base.html" %}
{% block body %}

<div class="text-center">
    <h1>Контакты</h1>
</div>
<br>
<p>Мы на GitHub <a href="https://github.com/Vi-812/git_check_alive">https://github.com/Vi-812/git_check_alive</a></p>
<p>Вопросы и предложения оставлять <a href="https://github.com/Vi-812/git_check_alive/issues">тут</a></p>
<p>Почта для связи: <a href="mailto:vi812x@gmail.com">vi812x@gmail.com</a></p>
<p>Телефон для связи: 8 (XXX) XXX-XX-XX</p>
<p>Юридический адрес: Россия, Санкт-Петербург</p>
<p>Фактический адрес: Россия, Санкт-Петербург</p>
<p>Время работы: 10:00 - 10:30 (по нерабочим дням)</p>

{% endblock %}
