{% extends "base.html" %}
{% block body %}

IntDays - целое число, количество полных дней прошедших с указанного события <p>

Общие данные <p>
repo_owner_login - Логин владельца репозитория <p>
repo_name - Имя репозитория <p>
repo_description - Описание <p>
repo_stars_count - Количество звезд <p>
repo_version - Версия проекта <p>
repo_homepage_url - Страница проекта (при наличии) <p>
repo_created_at - Дата создания репозитория <p>
repo_duration - IntDays, время существования репозитория <p>
repo_updated_at - IntDays, последнее обновление репозитория (изменения не в файлах) <p>
repo_pushed_at - IntDays, последний пуш репозитория (изменения в файлах) <p>
repo_in_organization - Принадлежность проекта к организации <p>
repo_license_have - Есть ли у проекта лицензионное соглашение <p>
repo_is_archived_bool - Проекта заархивирован (только для чтения) <p>
repo_is_disabled_bool <p>
repo_is_locked_bool <p> <p>
repo_is_empty_bool <p>
repo_is_fork_bool <p>
repo_issues_total_count - Общее количество issues <p>
repo_watchers_total_count <p>
repo_fork_total_count <p>
 <p>
Метки и вопросы <p>
repo_labels_name_list - Все существующие labels (список) <p>
repo_labels_bug_list - Все labels содержащие слово 'bug' (список)
bug_issues_total_count - Общее количество issues с bug-меткой
bug_issues_closed_total_count - Количество закрытых issues с bug-меткой
bug_issues_open_total_count - Количество открытых issues с bug-меткой

Аналитика
repo_major_version - IntDays, обновление мажорной версии проекта
repo_minor_version - IntDays, обновление минорной версии
repo_patch_version - IntDays, обновление патч версии
repo_pr_closed_count - Количество закрытых PullRequest за последние ДВА месяца
repo_pr_closed_duration - FloatDays, медианное значение времени одобрения PR (в днях, дробное число с точностью до часа)
duration_closed_bug_50percent - IntDays, медианное значение по времени закрытия половины багов (только из закрытых)
duration_closed_bug_95percent - IntDays, медианное значение по времени закрытия 95% багов (только из закрытых)
duration_closed_bug_min - Максимально быстрое закрытие бага (timedelta в формате str, только из закрытых)
duration_closed_bug_max - Максимально долгое закрытие бага (timedelta в формате str, только из закрытых)
duration_open_bug_50percent - IntDays, медианное значение по времени существования половины багов (только из открытых)
duration_open_bug_min - Время существования самого нового открытого бага (timedelta в формате str, только из закрытых)
duration_open_bug_max - Время существования самого старого открытого бага (timedelta в формате str, только из закрытых)
bug_issues_no_comment - Процент bug_issues не имеющих ни одного коммента (общий)
bug_issues_closed_two_months - Процент закрытых bug_issues за 2 месяца

ТехИнфо
request_duration_time - Время выполнения запроса (timedelta в формате str)
request_total_cost - Стоимость запроса
request_balance - Остаток на балансе (изначально 5000/час)
request_reset - Дата время восстановления баланса (datetime в формате str)

v1.0 от 28.01.2023

{% endblock %}
