{% extends "base.html" %}
{% block body %}


<div class="row">
    <form action="/" method="POST">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            {{ form.link_repository.label }}<br>
            {{ form.link_repository(size=128) }}
            {{ form.submit_path() }}
        </div>
    </form>
</div>
<hr>

{% if data %}
{% for group in data %}

{% if data[group] %}
<div class="container-fluir">
    <div class="row">
        <div class="panel panel-default col-xs-12 col-sm-10 col-md-8 col-lg-8 center-block">
            <table class="table table-fixed">
                <thead>
                <tr>
                    <th class="col-xs-3">{{ group }}</th>
                </tr>
                </thead>
                <tbody>
                {% for attr in data[group] %}
                <tr>
                    <td class="col-xs-3">{{ attr }}</td>
                    <td class="col-xs-9">{{ data[group][attr] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endfor %}
{% endif %}

{% endblock %}
