{% extends "base.html" %}
{% block body %}

<div class="text-center">
    <h1>Значения аналитики</h1>
    <br>
</div>

{% for group in values_description %}
<div class="container-fluir">
    <div class="row">
        <div class="panel panel-default col-xs-12 col-sm-10 col-md-8 col-lg-8 center-block">
            <table class="table table-fixed">
                <thead>
                <tr>
                    <th class="col-xs-3 text-right text-uppercase"><h2>{{ group }}</h2></th>
                </tr>
                </thead>
                <tbody>
                {% for attr in values_description[group] %}
                <tr>
                    <td class="col-xs-3 text-right">{{ attr }}</td>
                    <td class="col-xs-9">{{ values_description[group][attr] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}
<br>
{% endblock %}
