{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="text-center my-2">
            <h3>

                git_check_alive

            </h3>
             <form action="/" method="POST">
                {{ form.hidden_tag() }}
                {{ form.link_repository.label }}<br>
                {{ form.link_repository(size=128) }}
                {{ form.submit_path() }}
            </form>
            {{ json }}
        </div>
    </div>
</div>
{% endblock %}
